body {
    height: 140vh;
}

#total {
    font-size: 40px;
    text-align: center;
}

.barContain {
    background-color: #2E8B57;
    height: 100vh;
    margin-bottom: -50px;
    z-index: 1;
    position: absolute;
    bottom: -100px;
    left: 0px;
}

.barContain::after {
    content: "10000";
    font-size: 40px;
}

.barCover {
    height: 80vh;
    background-color: #8FBC8F;
    margin-bottom: -50px;
    z-index: 2;
    position: absolute;
    bottom: -100px;
    left: 0px;
}

